@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: "Roboto Condensed", sans-serif;
	font-size: clamp(1rem, 0.8rem + 1vw, 1.1rem);
	color: hsl(261, 100%, 95%);
	background-color: hsl(280, 50%, 10%);
	background-image: linear-gradient(
			45deg,
			transparent 49%,
			#b320e722 50%,
			transparent 51%
		),
		linear-gradient(-45deg, transparent 49%, #b320e722 50%, transparent 51%);
	background-size: 30px 30px;
	overflow-x: hidden;
}

::selection {
	background-color: #b320e7;
	color: hsl(280, 50%, 10%);
}

img {
	max-width: 100%;
	max-height: 13rem;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h1,
h2 {
	font-family: "Anton", sans-serif;
	color: #fdf4b3;
}

h2 {
	font-weight: 400;
	font-size: 1.6em;
	text-transform: uppercase;
	line-height: 1.3;
}

aside {
	padding: 0.5em;
	border: 2px dashed #b320e7;
	background-color: #b320e722;
}

svg {
	width: 2em;
	height: 2em;
}

.site-wrap {
	max-width: 55em;
	margin: 0 auto;
	padding: 1.5em 0;
}

.wrapper {
	padding: 1em 2.5em;
}

.headline {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	font-size: clamp(2.5rem, 2rem + 3vw, 3.5rem);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.1ch;
	line-height: 1.45;
	/*-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #fff;*/
	color: #ffffffcc;
	text-shadow: 0.7rem 0.7rem 1rem #b320e7, -0.5rem 0.5rem 1rem #b320e7,
		0.5rem -0.5rem 1rem #b320e7, -0.5rem -0.5rem 1rem #b320e7;

	&:hover {
		animation: 0.35s flicker ease-in-out 1;

		&::before {
			transform: rotate(0deg);
		}
	}

	&::before,
	&:after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 8px;
		z-index: -1;
		border: 2px solid #fff;
		background-color: transparent;
		border-radius: 0.5rem;
		filter: drop-shadow(0 0 1rem #01109dbb)
			drop-shadow(0.7rem 0.7rem 1rem #01109dbb)
			drop-shadow(-0.5rem 0.5rem 1rem #01109dbb)
			drop-shadow(0.5rem -0.5rem 1rem #01109dbb)
			drop-shadow(-0.5rem -0.5rem 1rem #01109dbb);
	}

	&::before {
		top: 0;
		transform: rotate(2deg);
		transition: 0.3s transform;
	}

	&::after {
		bottom: 0;
	}
}

.header {
	text-align: center;
}

.subhead {
	margin-top: 1em;
}

.article {
	margin: 0 1em;
	border: 2px solid #fff;
	border-radius: 0.5rem;
	background-color: hsl(280, 50%, 10%);
	box-shadow: 0 0 2em #b320e722, 0.7rem 0.7rem 2em #b320e722,
		-0.5rem 0.5rem 2em #b320e722, 0.5rem -0.5rem 2em #b320e722,
		-0.5rem -0.5rem 2em #b320e722, 0 0 2em #b320e722 inset,
		0.7rem 0.7rem 2em #b320e722 inset, -0.5rem 0.5rem 2em #b320e722 inset,
		0.5rem -0.5rem 2em #b320e722 inset, -0.5rem -0.5rem 2em #b320e722 inset;

	&__meta {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1em;
		padding-left: 0;
		font-size: 0.9em;
	}

	&__tags {
		display: flex;
		gap: 0.5em;
	}
}

.article__content {
	padding-bottom: 4em;

	@media (min-width: 800px) {
		column-count: 2;
		column-gap: 3em;
	}

	& > * + * {
		margin-top: 1em;
	}
}

.tag {
	display: inline-block;
	border: 1px solid #fff;
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
	box-shadow: 0 0 10px 3px #01109d88, 0 0 10px 5px #01109d88 inset;
	cursor: pointer;
}

.figure {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: end;
	height: 13rem;
	margin: 2.5em 0;
	border-radius: 0.5rem;

	& > * {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}

	figcaption {
		position: relative;
		z-index: 2;
		padding: 0.25em 1ch;
		font-size: 0.95rem;
		background-color: hsl(280, 50%, 10%);
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(transparent, #7b1fa2cc 90%);
		/* #6d2d53 */
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 3px solid #fff;
		border-radius: 0.5rem;
		transform: rotate(var(--angle, 3deg));
		/* #6d2d53 */
		z-index: 3;
		box-shadow: 0 0 1em #fdf4b333, 0.7rem 0.7rem 1em #fdf4b333,
			-0.5rem 0.5rem 1em #fdf4b333, 0.5rem -0.5rem 1em #fdf4b333,
			-0.5rem -0.5rem 1em #fdf4b333, 0 0 1em #fdf4b333 inset,
			0.7rem 0.7rem 1em #fdf4b333 inset, -0.5rem 0.5rem 1em #fdf4b333 inset,
			0.5rem -0.5rem 1em #fdf4b333 inset, -0.5rem -0.5rem 1em #fdf4b333 inset;
	}

	&:nth-of-type(2n)::before {
		--angle: 3deg;
	}

	&:nth-of-type(2n + 1)::before {
		--angle: -3deg;
	}
}

@keyframes flicker {
	20%,
	80% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0.5;
	}
}
